*.env
*.log
*.pid
*.seed
*.pid.lock
*.class
*.pyc
*.swp
*.iml
*.ipr
*.iws
*.tgz
*.http
*.env.json
google-services.json

**/node_modules/
**/build/
**/.idea/
**/logs/
**/coverage/
**/.npm/
**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins/
**/.flutter-plugins-dependencies/
**/.packages/
**/.pub-cache/
**/.pub/
**/android/app/debug
**/android/app/profile
**/android/app/release
**/bower_components
**/.firebase/
**/lib-cov
**/.grunt
**/secrets/

**/lib/generated_plugin_registrant.dart
**/app.*.symbols
**/app.*.map.json
**/.yarn-integrity
**/.node_repl_history
**/.eslintcache
**/.nyc_output
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/firebase-debug.log*
**/firebase-debug.*.log*
